* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu;
  line-height: 1.5;
  height: 100vh;
  width: 100wv;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: hsl(244, 40%, 10%);
  }
}